/*General Styling*/
*{
    font-family: Helvetica,sans-serif;
}
html {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    background-color:white;
}
body {
}
h1,h2,h3,p {
    color:#3b3b3b;
}
a:link,a:visited {
    color:#005555;
    text-decoration:none;
}
a:hover {
    color:#9F6B3F;
    text-decoration:none;
}
/*Navbar styling*/
ul.reportbar, ul.softwarebar, ul.homebar, ul.renewalbar, ul.expensebar {
    margin-top:0px;
}
li.reportbar, li.softwarebar, li.homebar, li.expensebar {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-right:10px;
  }
a:link.reportbar, a:visited.reportbar, a:link.softwarebar, a:visited.softwarebar, a:link.expensebar, a:visited.expensebar, a:link.homebar, a:visited.homebar {
    padding:15px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
    margin-top:0px;
    color:Black;
    background-color:#e1e5e8;
    display:inline-block;
    border:solid #727272 1px;
  }
/*Forms*/

input,select,textarea {
    color: #7f8282;
}
input, option, select {
    color: #7f8282;
    font-size: 14pt;
}
input[name=days], input[name=date1], input[name=date2] {
    width:10%;
}
/*Tables*/

tr.upcoming > td {
    background-color:#efbdbd;
}
tr.critical > td {
    background-color:#ff9696;
}
/*Special content areas*/
.error-messages, .alert {
    color:#b22222;
    text-align: center;
}
img.labtable {
    height:20px;
    width:20px;
}
table.labtable {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
h1.labtable {
    text-align:center;
    margin-top:5%;
}
/*Font Awesome Stuff*/
.fa-check {
    color:green;
}
.fa-times {
    color:red;
}
/*Create New Page*/
div.panel {
    float:left;
    width:40%;
    margin-left:6%;
    margin-top:10%;
}
img.panel {
    height:100%;
    width:100%;
    box-shadow: 3px 3px 3px #99958b; 
}
p.panel{
    text-align: center;
}